button{
    width: 400rpx;
    height: 80rpx;
    border: 2rpx solid white;
    border-radius: 30rpx;
    background: green;
    color: white;
    font-size: 36rpx;
    line-height: 80rpx;
    margin-top: 50rpx;
}
p{
    text-align: center;
    margin-top: 50rpx;
}
icon{
    text-align: center;
}